#box-portfolio{
  width: 75%;
  margin: auto;
}
#box-portfolio h3{
  margin-top: 2%;
  margin-bottom: 3%;
}
#box-portfolio p{
  margin-top: 2%;
  margin-bottom: 3%;
}
.gifs{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}