section{
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
}
#box-about{    
    margin-top: 1%;
    width: 60%;
    padding: 2%;
}
#box-about h3{
    margin-top: 3%;
    margin-bottom: 4%;
}
#box-about p{
    text-align: justify;
    margin-top: 3%;
}
#img-computer{
    margin:auto;
}

