container{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 3% auto 1% auto;
}
#presentation {
    width: 110%;
    margin-top: 5%;
    color: var(--letter);
}
#presentation p{
    margin-top: 4%;
    font-family: Arial, Helvetica, sans-serif;
}
#presentation h1{
    font-size: 3em;
    font-family: 'Outfit', sans-serif; 
}
#buttons{
    display: flex;
    width: 45%;
    margin: auto;  
    margin-top: 5%;
    margin-left: 0;
    justify-content: space-between;
}
#symbols{
    margin-top: 10%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
#photo{
    display: flex;
}