.bar{
    width: 75%;
    margin: 1% auto 1% auto;   
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.logo{
    font-family: 'Shadows Into Light', cursive;
    color:var(--logo);
    font-size: 1.5em;
    display: inline-block;
    margin-left: 1%;    
}
.menu{
    display: flex;
    width: 65%;
    align-items: center;
}
.menu > a{
    margin: auto;
}
#darkmode{
    margin-left: 22%;
    width: 8%;
    color: white;
    background-color: var(--boxColor);
}
#darkmode:hover{
    color: black;
    background-color:white;
}
@media (max-width:420px ){
    .logo{
        margin-bottom: 5%;
    }
    .bar{
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap; 
        align-items: center;
        
    }
    .menu{
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap; 
        align-items: initial;
        
    }
    .menu a{
        width: 100%;
        margin-bottom: 2%;
    }
    #darkmode{
        width: 100%;
        margin: auto;
    }
}






