.bar{
    width: 75%;
    margin: 1% auto 1% auto;   
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.logo{
    
    font-family: 'Shadows Into Light', cursive ;
    color:var(--logo);
    font-size: 1.5em;
    display: inline-block;
    margin-left: 1%;    
}
.logo h2{
    font-weight: bold;
}


.menu{
    display: flex;
    width: 65%;
    align-items: center;
}
.menu > a{
    margin: auto;
}
#darkmode{
    margin-left: 22%;
    width: 8%;
    color: white;
    background-color: var(--boxColor);
}
#darkmode:hover{
    color: black;
    background-color:white;
}







