.services-description{
    width: 75%;
    margin: auto;
    display:flex;
    justify-content: space-between;
    margin-top: 1%;
}
.services-description h2{
    font-family: 'Lucida Sans';
    font-weight: bold;
    margin-top: 8%;
    color: var(--letter);
}
.box{
    width: 20%;
    padding: 1%;
    background-color: var(--boxColor);
    border-radius: 3%;
    border: 3px solid #26B9AE;
    color: #F5FBFD;
}
.box h3{
    margin-top: 10%;
    margin-bottom:10% ;
    font-weight: bold;
    font-size: 1.2em;
    
}
ul{
    margin-top: 2%;
    list-style: none;
    margin-bottom: 1%;
    padding: 0;
    
}
li{
    padding: 2%;
    margin-left: 0;
}
