#background-hire{
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
#box-hire{
  width: 40%;
  
}
#box-hire h3{
  margin-top: 1%;
  margin-bottom: 3%;
}
#form-hire{
  display: flex;
  flex-direction: column;
}
#budget{
  margin-top: 2%;
  margin-bottom: 2%;
}
#currency{
  margin-top: 1%;
}
label{
  margin-top: 2%;
}
#msg{
  height: 50px;
}
#result{
  margin-bottom: 5%;
}
input, textarea{
  border-radius: 10px;
  height: 30px;
  border:none;
  box-shadow: none;
}
.button{
  border-radius: 10px;
  background-color: #26B9AE;
  color: white;
  border: none;
  height: 30px;
  transition: 0.7s;
  margin-bottom: 3%;
  cursor: pointer;
}
.button:hover{
  background-color: #95f1eb;
  color: rgb(0, 0, 0);
  font-weight: 700;
}
#back{
  background-color: var(--button);
}
#box-address{
  margin-top: 2%;
}
